<div class="signup-page">
  <div class="overlay"></div>

  <div class="card">

    <h2 class="title">Create Account</h2>

    <form [formGroup]="signupForm" (ngSubmit)="submit()" novalidate>

      <label>Name</label>
      <input type="text" formControlName="name" placeholder="name">
      <p class="error" *ngIf="f['name'].touched && f['name'].invalid">Name is required</p>

      <label>Username</label>
      <input type="text" formControlName="username" placeholder="username">
      <p class="error" *ngIf="f['username'].touched && f['username'].invalid">Username is required</p>

      <label>Password</label>
      <input type="password" formControlName="password" placeholder="password">
      <p class="error" *ngIf="f['password'].touched && f['password'].invalid">Password is required</p>

      <label>Email</label>
      <input type="email" formControlName="email" placeholder="email">
      <p class="error" *ngIf="f['email'].touched && f['email'].invalid">Valid email required</p>

      <label>Phone</label>
      <input type="tel" formControlName="phone" placeholder="phone">
      <p class="error" *ngIf="f['phone'].touched && f['phone'].invalid">Phone required</p>

      <label>Role</label>
      <select formControlName="role">
        <option value="USER">User</option>
        <option value="VENDOR">Vendor</option>
      </select>
      <p class="error" *ngIf="f['role'].touched && f['role'].invalid">Role required</p>

      <button type="submit" [disabled]="signupForm.invalid">Sign up</button>
        <br>
       
      <p class="footnote">
        Already have an account? <a routerLink="/login">Login</a>
      </p>

    </form>
  </div>
</div>
