
.car-card{
    border: 2px solid black;
    
    margin: 20px;
    padding: 20px;
    width:300px;
    table{
        border:2px solid black;
        width: 300px;
        background-color: rgb(107, 233, 180);
        th{
            background-color: rgb(3, 245, 84);
        }
    }
}