

.profile{
    border:2px solid black;
    padding:10px;
    width:500px;
    table{
        width:500px;
        border:2px solid black;
        height:300px;
        th{
            
           background-color: red;
        }
        .req{
            background-color:aquamarine;
            text-align: center;
        }
        .value{
            text-align: center;
            background-color: bisque;
        }
    }
}



