body{
    padding: 10px;
}

.view{
    height:500px;
    border:2px solid black;
    background-color:bisque;
    display: flex;
    flex-wrap: wrap;
    button{
        width: 200px;
        height:140px;
        margin:10px;
        padding: 10px;
        border:2px solid black;
    }
}