.login-box{
    border:2px solid black;
    width:400px;
    height: 350px;
    display: grid;
    * {
        padding: 10px;
        margin: 10px;
    }
   
    h2{
        font-size: 20px;
        background-color: navy;
        color:white;
        align-content: center;
        text-align: center;
    }
    input{
        font-size: 15px;
    }

  button{
    color:white;
    font-size:15px;
    width:100px;
    height:50px;
    border-radius: 10px;;
  }

  .buttons{
    display: flex;
    justify-content: space-around;

    .login{
        background-color: blue;
    }
    .signup{
        background-color: green;
    }
  }

  p{
    color:red;
  }
}