nav{
    border:2px solid black;
    border-radius: 10px;
    height:60px;
    background: radial-gradient(circle at top, #283593, #020617);
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;

    .logo{
        display: block;
        color:white;
        align-self: center;
        h1{
            font-size: 30px;
        }
    }

    .items{
        align-self: center;
        .main-items{
            display: flex;
            padding: 0;
            
            li{
                display: inline-block;
                border-radius: 10px;
                margin:0px 10px;
                background-color: rgb(59, 59, 59);
                padding: 10px;
                border:1px solid black;
                color:white;
                font-size: 20px;
            }:hover{
                background-color: black;
                
            }
        }
    }
}
