.signup-box{
    h2{
        background-color: rgb(27, 27, 233);
        color:white;
        font-size: 30px;
        
    }
    border:2px solid black;
    width:400px;
    height:500px;
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 216, 240);
    * {
        margin: 10px;
        padding: 10px;
        font-size:15px;
    }
}